@charset "utf-8";
*{
	margin: 0;
	padding: 0;
}
body{
	background-color: white;
}
.row{
	margin: auto;
}
/*-----------------INICIA LOAD PAGE-----------------------------------------------*/
/*.hidden1{
	overflow: hidden;
}
.centrado{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.lds-roller {
	display: inline-block;
	position: fixed;
	background-color: white;
	z-index: 11000;
	width: 100%;
	height: 100vh;
	margin: auto;
	padding: 50% 43.5%;

}
@media (max-width: 395px){
		.lds-roller{
			padding: 50% 40%;
	}
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #8a6d4b;
  margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}
@keyframes lds-roller {
  0% {
	transform: rotate(0deg);
  }
  100% {
	transform: rotate(360deg);
  }
}*/
/*--------------------------------TERMINA LOAD PAGE------------------------------------------------------*/

/*-------------------------------INICIA 1ER NAVEGADOR (TELEFONO E INGLES)--------------------------------*/
.navbar{
	background-color: rgba(66,66,66,0.92);
}
.navbar-brand {
	float: left;
	height: 60px;
	padding: 7.5px 15px;
}
.navbar-brand img{
	width: auto;
	height: 45px;
}
.navbar-nav {
  margin: 5px -15px;
}
.navbar-default .navbar-nav > li > a {/*COLOR DE LETRA DEL MENU FILA 4510 CSS*/
	color: white;
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	font-display: auto;
	font-size: 0.9em;
}
.navbar-default .navbar-nav > li > a:hover,/*ESTADO HOVER LETRA DEL MENU FILA 4515 CSS*/
.navbar-default .navbar-nav > li > a:focus {
	font-display: auto;
	font-family: 'Open Sans', sans-serif;
	color: darkgoldenrod;
	transition: 0.2s;
}
.navbar-default .navbar-nav > .active > a,/*Para modificar el background del estado ACTIVE del menú fila 4518 CSS*/
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	color: darkgoldenrod;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.9em;
	font-display: auto;
	background-color: transparent;
}
.navbar-toggle .icon-bar {  /*forma del icono hamburguesa*/
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}
.ingles{
	text-align: right;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	font-display: auto;
}
@media (max-width: 767px){
		.ingles{
			text-align: left;
	}
}
.ingles a {/*COLOR DE LETRA DEL MENU FILA 4510 CSS*/
	color: white;
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	background-color: transparent;
	margin-right: 10px;
	padding: 7px 4px 5px 4px;
}
.ingles a:hover,/*ESTADO HOVER LETRA DEL MENU FILA 4515 CSS*/
.ingles a:focus {
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-display: auto;
	background-color: transparent;
	transition: 0.2s;
}
.ingles img{
	height: 20px;
	width: auto;
	margin-right: 10px;
	margin-top: -4px;
}

/*-------------------------------TERMINA 1ER NAVEGADOR (TELEFONO E INGLES)--------------------------------*/
/*-------------------------------INICIA ESTILOS HAMBURGUESA-----------------------------------------------*/

.navbar-toggle {  /*Espacios alrededor del icono hamburguesa*/
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 14px;
  margin-right: 15px;
  margin-bottom: 14px;
  background-color: transparent;/*color del cuadrito del icono de hamburguesa*/
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #8a6d4b;/* Color hover del cuadrito del icono de hamburguesa*/
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: white; /* Color barras internas del icono de hamburguesa*/
}

/*----------------------INICIA ESTILOS HAMBURGUESA-----------------------------------*/
/*----------------------INICIA 2DO NAVEGADOR MENU PARA ORDENADOR---------------------*/

.container-1{
	display: flex;
}
.container-1 div{
	padding: 7px 1px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}
@media (max-width: 991px){
	.container-1 div{
		padding: 7px 1px 8px 1px;
	}
	.container-1 .active{
		background-color: transparent;
	}
}
.box-1, .box-2, .box-3, .box-4, .box-5, .box-6, .box-7, .box-8{
	flex: 1;
}
.box-1 > li,
.box-2 > li,
.box-3 > li,
.box-4 > li,
.box-5 > li,
.box-6 > li,
.box-7 > li,
.box-8 > li{
	font-size: 0.9em;
}
.box-5 > li{
	letter-spacing: -0.1px;
}
@media (max-width: 991px){
	.box-1 > li,
	.box-2 > li,
	.box-3 > li,
	.box-4 > li,
	.box-5 > li,
	.box-6 > li,
	.box-7 > li,
	.box-8 > li{
		font-size: 0.85em;
	}
}
.box-1 > li > a,
.box-2 > li > a,
.box-3 > li > a,
.box-4 > li > a,
.box-5 > li > a,
.box-6 > li > a,
.box-7 > li > a,
.box-8 > li > a{
	color: white;
	text-decoration: none;
	transition: ease-in-out 0.2s;
	-webkit-transition: 0.2s ease-in-out;
	-moz-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
}
.box-1, .active > li > a,
.box-2, .active > li > a,
.box-3, .active > li > a,
.box-4, .active > li > a,
.box-5, .active > li > a,
.box-6, .active > li > a,
.box-7, .active > li > a,
.box-8, .active > li > a{
	background-color: transparent;
}
.box-1 > li > a:hover,
.box-2 > li > a:hover,
.box-3 > li > a:hover,
.box-4 > li > a:hover,
.box-5 > li > a:hover,
.box-6 > li > a:hover,
.box-7 > li > a:hover,
.box-8 > li > a:hover,
.box-1 > li > a:focus,
.box-2 > li > a:focus,
.box-3 > li > a:focus,
.box-4 > li > a:focus,
.box-5 > li > a:focus,
.box-6 > li > a:focus,
.box-7 > li > a:focus,
.box-8 > li > a:focus{
	color: goldenrod;
	background-color: transparent;
	text-decoration: none;
	transition: ease-in-out 0.2s;
	-webkit-transition: 0.2s ease-in-out;
	-moz-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
}
.active2{
	background-color: rgba(138,109,75,0.50);
}
.active2 > li > a{
	color: white;
}
.active2 > li > a:hover,
.active2 > li > a:focus{
	color: white;
}

/*----------------------TERMINA 2DO NAVEGADOR MENU PARA ORDENADOR--------------------*/
/*----------------------SUBMENU------------------------------------------------------*/

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: transparent;
}
.dropdown-menu .divider {/*fila 3546 CSS*/
  height: 1px;
  margin: 5px 0;
  overflow: hidden;
  background-color: #a29c88;/*color de la línea divisor del submenú*/
}
.dropdown-menu > li > a {
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  font-size: 0.9em;
  display: block;
  padding: 2px 15px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  white-space: nowrap;
  color: #292e46;/*color de letra estado hover submenu*/
  background-color: white;/*fondo submenu responsive*/
}
@media (max-width: 991px){
	.dropdown-menu > li > a{
		font-size: 0.8em;
	}
}
.dropdown-menu > li > a:hover,/*3561 CSS para estado hover del Submenu*/
.dropdown-menu > li > a:focus {
  color: white;/*color de letra estado hover submenu*/
  text-decoration: none;
  background-color: #292e46;/* #F5FFC4; fondo submenu hover*/
  transition: 0.2s;
}

/*---------TERMINA SUBMENU-----------------------------------------------------------*/
/*--------INICIA SUBMENU RESPONSIVE--------------------------------------------------*/

@media (max-width: 767px) {
  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: white;  /*color del fondo base del submenu responsive, fila 4331*/ 
    border: 1px solid #a29c88;  /*colore del borde del submenu responsive*/
    -webkit-box-shadow: none;
            box-shadow: none;
  }	
}
.navbar-nav .open .dropdown-menu > li > a,
  .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 3px 15px 3px 15px;
	font-size: 0.9em;
  }
  .navbar-nav .open .dropdown-menu > li > a {
    line-height: 16px; /*Espacio entre lineas del submenu responsive*/
  }
  .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-nav .open .dropdown-menu > li > a:focus {
    background-image: none;
  }
.navbar-default .navbar-nav > .open > a,/*Fila 4544 CSS*/
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: white;
  background-color: #292e46;/*color background del estado activo del menu (dropdown) */
}
.dropdown-menu > .active > a,/*---3567 Color active del menú desplegable*/
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: white;
  text-decoration: none;
  background-color: #292e46;
  outline: 0;
}
/*-----------------TERMINA SUB MENU RESPONSIVE---------------------------------------*/

/*-----------------INICIA BARRA SOCIAL-----------------------------------------------*/
.social{
	position: fixed;
	left: 0;
	top: 170px;
	z-index: 2000;
}
.social > ul{
	list-style: none;
}
.social > ul > li > a{
	display: inline-block;
	padding: 9px 14px;
	text-decoration: none;
	-webkit-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.social > ul > li > .backfacebook {background-color: #3b5998;}
.social > ul > li > .backtwitter {background: #00abf0;}
/*.social > ul > li > .backinstagram {background-image: linear-gradient(to left bottom, #b403a1 40%, #ee0607, #f2c500);}*/
.social > ul > li > .backinstagram{background: #b403a1;}
.social > ul > li > .backyoutube-play {background: #e4051e;}
.social > ul > li > .backwhatsapp {background: #14960a;}
.social > ul > li > .backenvelope-o {background: #666666;}

.social > ul > li > a:hover{
	padding: 9px 26px;
	background: #5d8d43;
}
.social img{
	width: 18px;
	height: auto;
}
/*-----------------TERMINA BARRA SOCIAL----------------------------------------------*/
/*-----------------INICIA BARRA SOCIAL PARA MOBILE-----------------------------------*/
.contenedor{
	position: fixed;
	bottom: 0;
	z-index: 2000;
	text-align: center;
}
.contenedor li{
	list-style: none;
}
.contenedor img{
	width: auto;
	height: 16px;
}
.contenedor{
	width: 100%;
	display: flex;
	flex-direction: row;
}
.contenedor div{
	padding: 8px 0px;
}
.contenedor > .box-9{
	flex-grow: 1;
	background-color: #3b5998;
}
.contenedor > .box-10{
	flex: 1;
	background-color: #00abf0;
}
.contenedor > .box-11{
	flex: 1;
	/*background-image: linear-gradient(to left bottom, #b403a1 40%, #ee0607, #f2c500);*/
	background-color: #b403a1;
}
.contenedor > .box-12{
	flex: 1;
	background-color: #e4051e;
}
.contenedor > .box-13{
	flex: 1;
	background-color: #14960a;
}
.contenedor > .box-14{
	flex: 1;
	background-color: #666666;
}

/*-----------------TERMINA BARRA SOCIAL PARA MOBILE----------------------------------*/
/*-----------------INICIA SLIDER PRINCIPAL-------------------------------------------*/
.carousel{
	margin-top: 0;
}
.carousel-inner{
	width: 100% !important;
	height: 100vh;
	display: block;
}
.carousel-inner > .slide1{
	height: 100vh;
	width: 100% !important;
	background-image: url(recursos/slides/slider-01.jpg);
	background-position: center;
	background-size: cover;
}
@media (max-width: 767px) {
	  .carousel-inner > .slide1{
		background-image: url(recursos/slides/slider-01.1.jpg);
	}	
}
.carousel-inner > .slide2{
	height: 100vh;
	width: 100% !important;
	background-image: url(recursos/slides/slider-03.jpg);
	background-position: center;
	background-size: cover;
}
@media (max-width: 767px) {
	  .carousel-inner > .slide2{
		background-image: url(recursos/slides/slider-03.1.jpg);
	}	
}
.carousel-inner > .slide3{
	height: 100vh;
	width: 100% !important;
	background-image: url(recursos/slides/slider-02.jpg);
	background-position: center;
	background-size: cover;
}
@media (max-width: 767px) {
	  .carousel-inner > .slide3{
		background-image: url(recursos/slides/slider-02.1.jpg);
	}	
}
/*.carousel-caption{
	margin-bottom: 25%;
}*/
.carousel-caption p{
	height: 25vh;
	text-align: center;
	letter-spacing: 1.3px;
}
.carousel-caption img{
	width: 80%;
	height: auto;
	margin-bottom: 20%;
}

/*-----------------TERMINA SLIDER PRINCIPAL------------------------------------------*/
/*-----------------INICIA TEXTO DEL SLIDER PRINCIPAL---------------------------------*/
.carousel-caption h3{
	font-family: 'Great Vibes', cursive;
	font-size: 4em;
	color: white;
	margin-top: -200px;
	text-shadow: 1px 3px 5px black;
}
	@media (max-width: 991px) {
		  .carousel-caption h3{
		font-size: 3.2em;
	}
}
	@media (max-width: 767px) {
		  .carousel-caption h3{
		font-size: 2.3em;
	}
}
.icono1,.icono2{
	background-color: rgba(0,0,0,0.90);
	/*border-bottom: rgba(140,198,62,1) solid 2px;
}
@media (max-width: 991px){
		.icono1{
			border-bottom: transparent;
	}*/
}
.valores1{
	height: 52px;
	margin-top: -52px;
}
@media (max-width: 991px){
		.valores1{
			height: 107px;
			margin-top: -107px;
	}
}
@media (max-width: 767px){
		.valores1{
			height: 54px;
			margin-top: -54px;
	}
}
@media (max-width: 395px){
		.valores1{
			height: 52px;
			margin-top: -67px;
	}
}
.valores1 h3{
	font-family: 'Roboto', sans-serif;
	font-display: auto;
	font-size: 0.9em;
	font-weight: 100;
	letter-spacing: 0.9px;
	color: white;
	padding-bottom: 9px;
}
@media (max-width: 991px){
		.valores1 h3{
			padding-bottom: 10px;
			padding-top: 0;
	}
}

/*-----------------TERMINA TEXTO DE SLIDER PRINCIPAL---------------------------------*/
/*--------------------------INICIA BOTONES---------------------------------*/

.glyphicon{
	padding-right: 7px;
}
.buttonreserva{
	margin: -1px 0 5px 0;
}
.btn-reservar{
	font-display: auto;
	font-weight: bold;
	font-size: 1em;
	color: white;
	background-color: #5d8d43;
	margin-top: -5px;
}
.btn-reservar:hover,
.btn-reservar:focus{
  color: white;
  font-size: 1em;
  font-weight: bold;
  background-color: #527D3B;
  border-color: #385528;
}
.buttonslide a{
	font-family: 'Roboto', sans-serif;
	font-size: 1.1em;
	font-display: auto;
	text-decoration: none;
	color: white;
/*	background-color: #f9a400;
	padding: 6px 20px;
	border: 1px solid white;
	border-radius: 3px;*/
	background-color: rgba(255,255,255,0.2);
	padding: 7px 25px;
	border: 2px solid white;
	font-weight: bold;
	border-radius: 2.5px;
	transition: background .4s,color .4s;
	-webkit-transition: background .4s,color .4s;
	-moz-transition: background .4s,color .4s;
	-o-transition: background .4s,color .4s;
}
.buttonslide a:hover{
	background-color: #ED9C01;
	text-decoration: none;
	color: white;
	border: 2px solid white;
}
.buttonslide a:active{
	background-color: #8a6d4b;
}
.botonconoce{
	margin-top: 30px;
	text-align: center;
}
.btn-conoce{
	font-display: auto;
	font-size: 1em;
	letter-spacing: 1.1px;
	color: white;
	background-color: #5d8d43;
	padding: 5px 20px;
}
.btn-conoce:hover,
.btn-conoce:focus{
  color: white;
  font-size: 1em;
  background-color: #527D3B;
  border-color: #385528;
}
.btn-vermas{
	font-display: auto;
	font-size: 1em;
	letter-spacing: 1.1px;
	color: white;
	background-color: #5d8d43;
	text-align: center;
	margin-bottom: 25px;
}
.btn-vermas:hover,
.btn-vermas:focus{
  color: white;
  font-size: 1em;
  background-color: #527D3B;
  border-color: #385528;
}
.btn-reservahora{
	font-display: auto;
	font-size: 1em;
	letter-spacing: 1.1px;
	color: white;
	background-color: #8a6d4b;
	text-align: center;
	margin-bottom: 25px;
}
.btn-reservahora:hover,
.btn-reservahora:focus{
  color: white;
  font-size: 1em;
  background-color: #7E6444;
  border-color: #5F4C34;
}
.botoninfospa{
	margin-top: 30px;
	text-align: center;
}
.btn-infospa{
	font-display: auto;
	font-size: 1em;
	letter-spacing: 1.1px;
	color: white;
	background-color: #02a42a;
	padding: 5px 20px;
}
.btn-infospa:hover,
.btn-infospa:focus{
  color: white;
  font-size: 1em;
  background-color: #64b528;
  border-color: #3C6E18;
}
.botoninfospa2{
	margin-top: 30px;
	text-align: center;
}
.btn-infospa2{
	font-display: auto;
	font-size: 1em;
	letter-spacing: 1.1px;
	color: white;
	background-color: #bf1772;
	padding: 5px 20px;
}
.btn-infospa2:hover,
.btn-infospa2:focus{
  color: white;
  font-size: 1em;
  background-color: #e10079;
  border-color: #810045;
}
/*--------------------------TERMINA BOTONES---------------------------------*/
/*--------------------------INICIA TITULOS---------------------------------*/
.bajartitulo{
	margin-top: 40px;
	margin-bottom: 10px;
}
.bajartitulo2{
	margin-top: 20px;
	margin-bottom: 10px;
}
.bajarfila{
	margin-top: 35px;
}
.bajartexto{
	line-height: 23px;
}
@media (max-width: 991px){
		.bajartexto{
			margin-top: 20px;
	}
}
p{
	font-family: 'Open Sans', sans-serif;
	font-size: 1.1em;
	font-display: auto;
	/*font-style: italic;*/
	text-align: justify;
	letter-spacing: 1.1px;
	color: #303E47;
	/*color: #ffffff;*/
}
h1{
	font-family: 'Cinzel', serif;
	font-size: 1.8em;
	font-display: auto;
	text-align: center;
	letter-spacing: 1.7px;
	color: #303e47;
}
h2{
	font-family: 'Cinzel', serif;
	font-size: 1.6em;
	font-display: auto;
	text-align: center;
	letter-spacing: 1.7px;
	color: #8a6d4b;
	/*color: #1c1c1c;*/
}
h3{
	font-family: 'Cinzel', serif;
	font-size: 2.2em;
	font-display: auto;
	text-align: center;
	letter-spacing: 1.7px;
	color: #1c1c1c;
}
h4{
	font-family: 'Cinzel', serif;
	font-size: 3.1em;
	font-display: auto;
	text-align: center;
	letter-spacing: 1.7px;
	color: #1c1c1c;
	/*color: #a29c88;
	color: #ffffff;*/
}
h5{
	font-family: 'Cinzel', serif;
	font-size: 1.3em;
	font-display: auto;
	text-align: center;
	letter-spacing: 1.7px;
	color: #8a6d4b;
	/*color: #cbc6b9;*/
}
h6{
	font-family: 'Cinzel', serif;
	font-size: 1em;
	font-display: auto;
	text-align: center;
	color: black;
	/*color: #cbc6b9;*/
}
a {/*COLOR DE LETRA DEL MENU FILA 4510 CSS*/
	color: dodgerblue;
	text-decoration: underline;
	background-color: transparent;
}
a:hover,/*ESTADO HOVER LETRA DEL MENU FILA 4515 CSS*/
a:focus {
	color: #8a6d4b;
	background-color: transparent;
	transition: ease-in-out 0.3s;
	text-decoration: underline;
}
hr {
	border: 0;
	border-top: 1px solid #5d8d43;
	width: 80%;
	margin: 15px auto 5px auto;
}
.wrapper1 img{
	width: 100%;
	height: auto;
}
.delay02s{
	animation-delay: 0.2s;
}
.delay03s{
	animation-delay: 0.3s;
}
.delay04s{
	animation-delay: 0.4s;
}
.delay05s{
	animation-delay: 0.5s;
}
.delay06s{
	animation-delay: 0.6s;
}
.delay07s{
	animation-delay: 0.7s;
}
.delay08s{
	animation-delay: 0.8s;
}
.delay09s{
	animation-delay: 0.9s;
}
.delay1s{
	animation-delay: 1s;
}
/*....................INICIA SEPARADOR1 PARALLAX............................*/
.separador{
	margin: 55px 0;
	background-image: url(recursos/slides/slider-05.jpg);
	height: 292px;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}
 /*....CODIGO PARA UN BACKGROUND FIJO RESPONSIVO....*/
/*.separador{ 
	content: "";
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -10;
	background: url(recursos/slides/slider-05.1.jpg) center;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;

}*//*....CODIGO PARA UN BACKGROUND FIJO RESPONSIVO....*/
@media (max-width: 767px){
	.separador{
		min-height: 416px;
		background-image: url(recursos/slides/slider-05.1.jpg);
		background-attachment: inherit;
	}
}
@media (max-width: 484px){
		.separador{
			min-height: 476px;
			background-image: url(recursos/slides/slider-05.1.jpg);
			background-attachment: inherit;
	}
}
@media (max-width: 336px){
		.separador{
			min-height: 526px;
			background-image: url(recursos/slides/slider-05.1.jpg);
			background-attachment: inherit;
	}
}
.texto-separador{
	padding: 30px 0 0 0;
	text-align: center;
}
.texto-separador h3{
	position: relative;
	display: inline-block;
	padding: 1 100%;
	text-align: center;
	text-shadow: 2px 2px 4px darkgray;
}
.texto-separador p{
	position: relative;
	font-size: 1.15em;
	font-weight: bold;
	display: inline-block;
	padding: 1 100%;
	text-align: justify;
}
.texto1,
.texto2{
	margin-top: 15px;
	/*font-family: 'Open Sans', sans-serif;*/
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-display: auto;
	font-size: 1.1em;
	line-height: 25px;
}
@media (max-width: 767px){
		.texto2{
			margin-top: -10px;
	}
}
.texto1 li,
.texto2 li{
	text-decoration: none;
	text-align: center;
	list-style: none;
}
/*....................TERMINA SEPARADOR1 PARALLAX............................*/
.bloque3imgmargen{
	padding: 0 7.1%;
}
@media (max-width: 991px){
		.bloque3imgmargen{
			padding: 0 0;;
	}
}
.bloque3img img{
	width: 100%;
	height: auto;
}
.bloque3img h6{
	font-family: 'Cinzel', serif;
	font-size: 0.7em;
	letter-spacing: 1.6px;
	font-display: auto;
	text-align: center;
	color: dimgray;
}
.imgbanner{
	text-align: center;
	margin-top: 50px;
}
.imgbanner img{
	width: 60%;
	height: auto;
}
@media (max-width: 767px){
		.imgbanner img{
			width: 100%;
	}
}
/*....................INICIA FOOTER............................*/
.footer{
	margin-top: 35px;
}
.footer h6{
	font-display: auto;
	text-align: left;
	letter-spacing: 1px;
	color: white;
}
.footer li{
	font-family: 'Roboto', sans-serif;
	font-display: auto;
	font-size: 0.9em;
	font-weight: 300;
	text-align: left;
	list-style: none;
	line-height: 20px;
	letter-spacing: 0.9px;
	color: white;
}
.footer li > a{
	text-decoration: none;
	color: white;
	transition: ease-in-out 0.3s;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
}
.footer li > a:hover{
	transition: ease-in-out 0.3s;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	color: #5d8d43;
}
.logo{
	margin-top: 30px;
	text-align: center;
}
.logo img{
	width: 60%;
	height: auto;
}
.footer2{
	text-align: left;
}
.footer2 img{
	width: auto;
	height: 25px;
	margin: 30px 3px 0 3px;
}
.redes{
	margin-top: 40px;
}
.contacto{
	margin-top: 30px;
	margin-bottom: 15px;
}
.sobrenosotros{
	margin-top: 30px;
}
.footer,.logo,.redes,.sobrenosotros,.contacto,.footer1,.footer2,.footer3,.footer4{
	background-color: #424242;
}
.footer4 li > a{
}
@media (max-width: 1150px){
		.footer4 li > a{
	font-size: 0.95em;
}
}
@media (max-width: 1081px){
		.footer4 li > a{
	font-size: 0.9em;
}
}
@media (max-width: 1038px){
		.footer4 li > a{
	font-size: 0.85em;
}
}
@media (max-width: 991px){
		.footer4 li > a{
	font-size: 1em;
}
}
.footer1{
	padding-bottom: 20px;
}
.avisolegal{
	padding-bottom: 1px;
	background-color: #424242;
}
@media (max-width: 767px){
		.avisolegal{
			padding-bottom: 33px;
	}
}
.avisolegal hr{
	border: 0.5px solid #836F4E;
	background-color: #f9f9f9;
	margin-top: 0px;
}
.avisolegal p{
	text-align: center;
	font-size: 0.7em;
	font-family: 'Roboto', sans-serif;
	font-display: auto;
	color: white;
	line-height: 15px;
	letter-spacing: 0.8px;
}
.avisolegal a{
	text-decoration: underline;
	color: white;
	transition: ease-in-out 0.3s;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
}
.avisolegal a:hover{
	color: dodgerblue;
	transition: ease-in-out 0.3s;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
}
.privacidad a{
	text-decoration: none;
	color: darkgray;
	transition: ease-in-out 0.3s;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
}
.privacidad a:hover{
	color: dodgerblue;
	transition: ease-in-out 0.3s;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
}
/*....................TERMINA FOOTER............................*/

/*....................INICIA HABITACIONES............................*/

.wrapper3{
	border:thin solid white;
	border-radius: 4px;
	padding: 9px;
	margin-bottom: 30px;
	-moz-box-shadow: 0px 0px 20px lightgray; 
	-webkit-box-shadow: 0px 0px 20px lightgray; 
	box-shadow: 0px 0px 20px lightgray;
}
.eligehab img{
	width: 100%;
	height: auto;
	text-align: center;
	border-radius: 3px;
	transition: 0.2s ease-in-out;
	-webkit-transition: 0.2s ease-in-out;
	-moz-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
	box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}
.eligehab img:hover {
	transform: scale(1.02);
	box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}
.eligehab a{
	color: black;
	text-decoration: none;
	transition: ease-in-out 0.3s;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
}
.eligehab a:hover{
	transition: ease-in-out 0.3s;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	color: dodgerblue;	
}
.eligehab h6{
	color: #8a6d4b;
}
.buttoncenter{
	text-align: center;
	margin-top: 20px;
}
.buttoncenter a{
	text-align: center;
	letter-spacing: 1px;
}
.imggaleria1 img{
	width: 100%;
	height: auto;
	text-align: center;
	border-radius: 4px;
	transition: 0.2s ease-in-out;
	-webkit-transition: 0.2s ease-in-out;
	-moz-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}
.imggaleria1 img:hover {
    transform: scale(1.01);
    box-shadow: 0 8px 15px rgba(0,0,0,0.5);
}
.imggaleria2{
	margin-top: -10px;
}
.imggaleria2 img{
	width: 100%;
	height: auto;
	text-align: center;
	border-radius: 4px;
	transition: 0.2s ease-in-out;
	-webkit-transition: 0.2s ease-in-out;
	-moz-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}
.imggaleria2 img:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 15px rgba(0,0,0,0.5);
}
.imggaleriamargen{
	padding: 0 8.2%;
}
@media (max-width: 991px){
		.imggaleriamargen{
			padding: 0 0;;
	}
}
#carousel2 > .carousel-inner{
	width: 100%;
	height: auto;
}
.carousel2-inner img{
	width: 100%;
	height: auto;
}
.habserv1{
	background-color: lightgray;
	display: inline-block;
	width: 100%;
	margin-top: -10px;
	border-radius: 4px;
	padding-top: 7px;
}
@media (max-width: 767px){
		.habserv1{
			border-radius: 0;
	}
}
.habserv1 p{
	font-family: 'Open Sans', sans-serif;
	font-size: 1.1em;
	font-display: auto;
	text-align: left;
	letter-spacing: 1.1px;
	color: #303E47;
}
@media (max-width: 484px){
		.habserv1 p{
			font-size: 0.9em;
	}
}
.habserv img{
	width: 17px;
	height: auto;
	margin-right: 7px;
}
@media (max-width: 484px){
		.habserv1 img{
			width: 14px;
	}
}
.bgtest{
	background-color: red;
}
.bgtest2{
	background-color: blue;
}
/*....................TERMINA HABITACIONES............................*/

/*....................INICIA BOOKING 1 SiteMinder................................*/
.bookingengine{
	background-color: #5d8d43;
	padding: 10px 0 20px 0;
}
.bookingengine h5{
	color: white;
}
.bookingengine h3{
	color: white;
}
.bookingengine h4{
	color: white;
	text-align: left;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	font-display: auto;
}
.bookingengine p{
	color: #303E47;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	font-display: auto;
}
.cajasbooking1{
	border:solid 1px #ffffff;	
	padding:6px 0px 6px 7px;
	background-color: white;
	width: 100%;
}
.cajasbooking2{
	border:solid 1px #ffffff;	
	padding: 7px 0px 7px 7px;
	background-color: white;
	width: 100%;
}
.botonbooking{
	background-color: #8a6d4b;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	font-display: auto;
	padding:7px 0px;
	text-align: center;
	width: 100%;
	height: auto;
	margin-top: 40px;
}
.botonbooking:hover,
.botonbooking:focus{
  background-color: #7E6444;
}
/*....................TERMINA BOOKING 1................................*/

/*....................INICIA BOOKING 2 Sitminder................................*/
.bookingengine2{
	background-color: white;
	padding: 10px 0 20px 0;
	border: solid 1px lightgray;
}
.bookingengine2 h5{
	color: #8a6d4b;
}
.bookingengine2 h4{
	color: #303E47;
	text-align: left;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	font-display: auto;
}
.bookingengine2 p{
	color: #303E47;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	font-display: auto;
}
.cajasbooking3{
	border:solid 1px lightgray;	
	padding:6px 0px 6px 7px;
	background-color: white;
	width: 100%;
}
.cajasbooking4{
	border:solid 1px lightgray;	
	padding: 7px 0px 7px 7px;
	background-color: white;
	width: 100%;
}
.hr2 hr{
	border: 0;
	border-top: 1px solid rgba(48,62,71,0.40);
	width: 80%;
	margin: 15px auto 5px auto;
}
/*....................TERMINA BOOKING 2................................*/

/*....................INICIA BOOKING 3 Siteminder................................*/
.bookingengine3{
	background-color: rgba(0,0,0,0.85);
	padding: 0px 0 8px 0;
	margin-top: -94px;
}
.bookingengine3 h4{
	color: white;
	text-align: left;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	font-display: auto;
}
.bookingengine3 p{
	color: #303E47;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	font-display: auto;
}
.cajasbooking5{
	border:solid 1px lightgray;	
	padding:6px 0px 6px 7px;
	background-color: white;
	width: 100%;
}
.cajasbooking6{
	border:solid 1px lightgray;	
	padding: 7px 0px 7px 7px;
	background-color: white;
	width: 100%;
}
.botonbooking2{
	background-color: #8a6d4b;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	font-display: auto;
	padding:5px 0px 6px 0;
	text-align: center;
	width: 100%;
	height: auto;
	margin-top: 40px;
}
.botonbooking2:hover,
.botonbooking2:focus{
  background-color: #7E6444;
}
/*....................TERMINA BOOKING 3................................*/

.tourvirtual{
	text-align: center;
}
.sitios hr{
	border: 0.5px solid lightgray;
	height: 0px;
	width: 90%;
	margin: 10px auto;
}
.atracciones{
	border:thin solid white;
	padding: 0 15px;
	margin-bottom: 30px;
	-moz-box-shadow: 0px 0px 20px lightgray; 
	-webkit-box-shadow: 0px 0px 20px lightgray; 
	box-shadow: 0px 0px 20px lightgray;
}
.atracciones h2{
	margin: 7px 0;
	text-align: left;
}
.atracciones p{
	font-size: 1em;
	font-display: auto;
	text-align: left;
}
.espacioboton{
	margin: 17px;
}
/*....................INICIA SERVICIOS................................*/

.mpg h6{
	font-family: 'Cinzel', serif;
	font-size: 0.8em;
	letter-spacing: 1.6px;
	font-display: auto;
	text-align: center;
	color: #8a6d4b;
}
.mpg hr{
	border: solid 0.5px rgba(225,0,121,0.30);
	text-align: center;
	width: 40%
}
.btn-warning{
	font-display: auto;
	font-size: 1em;
	color: white;
	/*background-color: #ff9802;*/
	background-color: #f9a400;
}
.hr3 hr{
	border: 0;
	border-top: 1px solid rgba(138,109,75,0.70);
	width: 20%;
	margin: 15px auto 5px auto;
}
.facebookvarios{
	background-color: #86ccc0;
	color: white;
	padding: 15px 10px;
	font-size: 1.2em;
	font-family: 'Open Sans', sans-serif;
	margin-top: 40px;
	margin-bottom: 15px;
}
.temazcal img{
	width: 90%;
	height: auto;
	text-align: center;
	border-radius: 3px;
	transition: 0.2s ease-in-out;
	-webkit-transition: 0.2s ease-in-out;
	-moz-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
	box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}
.temazcal img:hover {
	transform: scale(1.02);
	box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}
.temazcal2 img{
	width: 100%;
	height: auto;
	text-align: center;
	border-radius: 3px;
}
ol{
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	font-display: auto;
	text-align: justify;
	letter-spacing: 1.1px;
	color: #303E47;
}
.imggaleria1 > .imgspa img{
	border: 1px solid #64b528;
}
.imggaleria1 > .imgspa2 img{
	border: 1px solid #e10079;
}
.imggaleria2 > .imgspa2 img{
	border: 1px solid #e10079;
}
.textspa p{
	text-align: center;
}
.textspa h6{
	font-family: 'Cinzel', serif;
	font-size: 1.1em;
	letter-spacing: 1.6px;
	font-display: auto;
	text-align: center;
	color: #8a6d4b;
}
.atracciones img{
	width: 14px;
	height: auto;
	margin-right: 4px;
	margin-top: -4px;
}
.localizacion a{
	color: dimgray;
	text-decoration: none;
	transition: ease-in-out 0.3s;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
}
.localizacion a:hover{
	transition: ease-in-out 0.3s;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	color: dodgerblue;	
}
.localizacion > .glyphicon-new-window{
	color: #5d8d43;
	font-size: 0.9em;
}
.live{
	margin: 50px 0 10px 0;
	text-align: center;
}
.live p{
	margin-top: 10px;
}
.live img{
	width: 100%;
	height: auto;
}
.imggaleria2 p{
	margin-top: 10px;
}
.contacto img{
	width: 13px;
	height: auto;
	margin-right: 7px;
}
/*....................TERMINA SERVICIOS................................*/